---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white dark:invert">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      &copy; {currentYear} Timothy Mayer Artworks & Photography. All rights reserved.
    </p>
  </div>
</footer>
