---
---
<div aria-hidden="true" class="h-40 mx-auto xs:h-auto xs:container aspect-video swiper-container text-black my-8">
    <div class="swiper main mb-4 h-[inherit]">
        <div class="swiper-wrapper aspect-video">
            <slot />
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="../libs/swiper.js"></script>