---

---

<section aria-hidden="true" class="swiper-container grid w-full md:h-[36rem]" style="--swiper-navigation-color: #fff">
  <div class="main swiper h-[inherit] w-full">
    <div class="swiper-wrapper aspect-video h-[inherit] w-[inherit]">
      <slot />
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<script src="../libs/swiper.js"></script>
