---
---
<section aria-hidden="true" class="swiper-container w-full grid">
    <div class="main swiper w-full">
        <div class="swiper-wrapper h-[inherit] max-h-96 aspect-video">
            <slot />
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<script src="../libs/swiper.js"></script>